{
  "alert_email": "alarm@example.com",
  "aws_access_key": "AWSKEY",
  "aws_secret":  "AWSSECRET",
  "cluster_name": "cluster1",
  "dns_domain": "someRoute53domainYouControl.com",
  "domain_name": "domain",
  "domain_password": "bird",
  "brokers_per_zone": 2,
  "instance_type": "m1.large",
  "license": "",
  "ssh_key": "AWS_KeyPairName",
  "zones": {
    "us-west-2": {
      "ami": "ami-8ee888be",
      "servers": 4,
      "subnets": ["subnet-7b4b720f", "subnet-21dac443", "subnet-21dac443"],
      "security_group_ids": ["sg-e40dec81", "sg-63f31206"]
    },
    "us-east-1": {
      "ami": "ami-e1457b88",
      "servers": 2,
      "subnets": ["subnet-157d043d"],
      "security_group_ids": ["sg-24d82041", "sg-d0c038b5"]
    }
  }
}