# Rename this file to 'credentials' with your information
AWS_ACCESS_KEY=SOMEKEY
AWS_SECRET=SOMESECRET
dns_domain=SomeRoute53DomainYouControl.com
domain_name = domain
domain_password = bird
instance_type = m1.large
ssh_key = YourEC2SSHkey
zone = us-west-2